.forgot-password-container {
  padding: 3rem 0;
  min-height: 57.7vh;
  background-color: #f8f8f8;
}
.forgot-password-form {
  width: 40%;
  background-color: #282c34;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 1.65rem auto;
}
.email-msg {
  color: #0cbb0c;
  margin: 0 0 1rem 0;
}
.email-input-field {
  padding: 0.5rem 1rem;
  border: 1px solid #646cff;
  outline: none;
  border-radius: 5px;
  margin-bottom: 1.3rem;
  width: 40%;
}

.send-email-btn {
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #646cff;
  padding: 0.5rem 3rem;
  margin-bottom: 1.5rem;
  color: #fff;
  cursor: pointer;
}
.send-email-btn:hover {
  background-color: #4951ec;
  transition: 0.3s ease-in-out;
}
